<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <form action="http://localhost:8000/signin" method="POST" class="login-form">
            <label for="username">Username</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password</label>
  <input type="password" id="password" name="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
  <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->

    <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
